# GOOGLE_API_KEY
GOOGLE_API_KEY=your-google-api-key-here

# Ruta por defecto de Ollama
OLLAMA_BASE_URL=http://localhost:11434


# Modelo por defecto para usar en los ejemplos
DEFAULT_MODEL=llama3.2:3b
GEMINI_MODEL=gemini-2.5-flash-lite